/* You can add global styles to this file, and also import other style files */
:root {
  font-family: 'Nunito Sans', monospace;

  --dark-mode-elements: hsl(209, 23%, 22%);
  --dark-mode-background: hsl(207, 26%, 17%);
  --dark-mode-text: hsl(0, 0%, 100%);

  --all-mode-input: hsl(0, 0%, 65%);
  --light-mode-background: hsl(0, 0%, 94%);
  --light-mode-elements: hsl(0, 0%, 98%);
  --light-mode-text: hsl(200, 15%, 8%);
}

.lightModeOn{
  --dark-mode-elements: var(--light-mode-elements);
  --dark-mode-background: var(--light-mode-background);
  --dark-mode-text: var(--light-mode-text);
}


body {
  margin: 0%;
  height: auto;
  height: 100vh;
  background-color: var(--dark-mode-background);
  overflow: hidden;
  transition: all ease-in-out .3s;
}
/* Estilos para navegadores webkit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 10px;  /* Ancho del scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--dark-mode-elements);  /* Color del fondo del track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--dark-mode-background);  /* Color de la barra del scroll */
  border-radius: 10px;
  border: 2px solid var(--dark-mode-elements);  /* Borde alrededor del thumb */
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--dark-mode-background) var(--dark-mode-elements);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark-mode-text);
  /* background: var(--dark-mode-background); */
}

/* Para Firefox */

